extends layout

block content 
  h1 All Categories
  a(href="category/add") Add New Category

  if categories.length 
    ul
      each cat in categories
        li 
          a(href=cat.url)  #{cat.name}
  else 
    p There are no Categories.