extends layout

block content
  div.homepage
    p.welcome-title Welcome to the Awesome Inventory!
    p.welcome-title Check out our stock:
    div 
      p Number of categories: #{number_of_categories}
      p Number of items: #{number_of_items}
