extends layout

block content
  div.items-page
    div.item-title-and-add
        h1 All Items
        a.add-item-btn(href="item/add") Add New Item

    if items.length 
        ul
        each i in items 
            li 
            img(src=i.profile_img, alt="item image")
            a(href=i.url)  #{i.name}
    else 
        p There are no Items.