doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
    div.navbar
      div.navTab
        a.navText(href='/') Home
      div.navTab
        a.navText(href='/inventory/categories') Categories
      div.navTab
        a.navText(href='/inventory/items') Items
    block content
