doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
    div.navbar
      div
        a(href='/') Home
      div
        a(href='/inventory/categories') Categories
      div
        a(href='/inventory/items') Items
    block content
