/* General styles */

body {
  display: flex;
  flex-direction: column;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;

  height: 60px;

  background-color: black;
  box-shadow: 0px 10px gray;
}

.navTab {
  padding: 16px;
}

.navText {
  color: white;
  font-size: 24px;
}

/* Homepage styles */
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.welcome-title {
  font-size: 24px;
  font-weight: 700;
}

/* Categories and Items page styles */
.categories-page,
.items-page {
  padding: 24px;
}

.category-title-and-add,
.item-title-and-add {
  display: flex;
  align-items: center;
  gap: 20px;
}

.add-category-btn,
.add-item-btn {
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

/* Category styles */
.category-link {
  color: black;
  text-decoration: underline;
  font-size: 24px;
}

.category-list {
  margin-bottom: 10px;
}
