/* General styles */

body {
  display: flex;
  flex-direction: column;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: black;
  box-shadow: 0px 10px gray;
}

.navTab {
  padding: 16px;
}

.navText {
  color: white;
  font-size: 24px;
}

/* Homepage styles */
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.welcome-title {
  font-size: 24px;
  font-weight: 700;
}

/* Categories and Items page styles */
.categories-page,
.items-page {
  padding: 24px;
}

.category-title-and-add,
.item-title-and-add {
  display: flex;
  align-items: center;
  gap: 20px;
}

.add-category-btn,
.add-item-btn {
  color: white;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

/* Category styles */
.category-link {
  color: black;
  text-decoration: underline;
  font-size: 24px;
}

.category-list {
  margin-bottom: 10px;
}

/* category detail page styles*/
.category-detail-page {
  padding: 24px;
}

.error {
  color: red;
}

.name-and-desc {
  border-bottom: 2px solid black;
}

.name-add-delete {
  display: flex;
  align-items: center;
  gap: 20px;
}

.btn {
  border: none;
  color: white;
  font-family: inherit;
  font-size: 16px;
  background-color: black;
  padding: 10px;
  border-radius: 10px;
}

.btn:hover {
  cursor: pointer;
}

.item-card {
  max-width: 300px;
  padding: 10px;
  box-shadow: 0 0 5px black;
  border-radius: 10px;
}

.cards-container {
  padding-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 300px);
  justify-content: center;
}

.card-img-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 300px;
}

.card-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px 10px 0 0;
}

.card-info {
  margin-top: 5px;
  border-top: 1px solid black;
  display: grid;
  grid-template-rows: repeat(4, 30px);
  align-items: center;
  padding: 10px;
  gap: 6px;
}

.card-link {
  color: black;
  text-decoration: underline;
}

.card-name {
  font-size: 1.5em;
  font-weight: 600;
}

.card-category {
  color: white;
  background-color: black;
  width: fit-content;
  border-radius: 10px;
  padding: 6px;
}

/* item detail page styles*/

.item-detail-page {
  padding: 20px;
}

.image-container {
  margin-top: 50px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

.item-page-img {
  max-height: 400px;
  max-width: 100%;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* Form page styles */

.form-page {
  padding: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

label {
  font-size: 20px;
}

textarea {
  resize: none;
}
