body {
  display: flex;
  flex-direction: column;

  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  height: 100vh;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Navbar styles */
.navbar {
  display: flex;
  align-items: center;

  height: 60px;

  background-color: black;
  box-shadow: 0px 10px gray;
}

.navTab {
  padding: 16px;
}

.navText {
  color: white;
  font-size: 24px;
}

/* Homepage styles */
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.welcome-title {
  font-size: 24px;
  font-weight: 700;
}
